<div class="post <% if post['type'] != '' %>type-<%= post['type'] %><% end %>">
  <div class="post-head">
    <% if post['type'] != '' %>
      <div class="icon">
        <span class="<%= post['type'] %>-post-icon"></span>
      </div>
    <% end %>
    <div class="title-wrapper">
      <div class="tags">
        <% if post['type'] === 'podcast' %>
          <span class="rbldup">CodeNewbie Podcast | Episode 52</span>
        <% elsif post['type'] === 'twitter' %>
          <span class="rbldup">#CodeNewbie Twitter Chat</span>
        <% else %>
          <span class="rbldup">From The Blog</span>
        <% end %>
      </div>
      <h2><%= post['title'] %><% if !post['guest'].blank? %> <span class="guest">with <%= post['guest']['name'] %></span><% end %></h2>
    </div>
  </div>
  <div class="post-preview">
    <p><%= post['preview'] %></p>
  </div>
  <div class="post-meta">
    <div class="author"> 
      <span class="author-img"><img src="<%= post['author']['photo'] %>" /></span>
      <h5><span class="author-name"><%= post['author']['name'] %></span>&nbsp;&nbsp;<span class="date">|&nbsp;&nbsp;<%= post['date'] %></span></h5>
    </div>

    <% if post['type'] === 'podcast' %>
      <div class="continue">
        <a href="" class="rbldup">Listen to Episode <span class="carat">></span></a>
      </div>
    <% elsif post['type'] === 'twitter' %>
      <div class="continue">
        <a href="" class="rbldup">Join the Conversation <span class="carat">></span></a>
      </div>
    <% else %>
      <div class="continue">
        <a href="" class="rbldup">Continue Reading <span class="carat">></span></a>
      </div>
    <% end %>

  </div>
</div>